.note-editor {
  height: 400px;
  width: 300px;
  padding: 10px;
  font-size: 1rem;
  background-color: #f0f0f0; 
  color: #000000;
  border: none;
  outline: none;
  border-radius: 8px; 
  margin-bottom: 10px;
  resize: both; 
  overflow: auto; 
  align-items: center; 
}

.save-btn {
  padding: 10px 20px;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center; 
}

