.heading-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: none;
    font-family: 'Poppins', sans-serif;
    margin: 3px auto 0; 
    box-sizing: border-box; 
}



.heading-area h2 {
    margin: 0;
    font-size: 1.5rem; 
    font-weight: 400; 
    color: #000000; 
}

.icons {
    display: flex;
    gap: 15px;
}

.icon {
    width: 20px;
    height: 18px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.8rem;
    transition: color 0.2s, transform 0.2s; 
    border: 2px solid black; 
    border-radius: 4px; 
}

.teeth-icon {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
}

