.view-note {
    background-color: white; /* Fundo branco */
    color: black; /* Texto preto */
    height: 470px;
    width: 320px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px; /* Bordas arredondadas */
    border: 2px solid black;
    overflow-y: auto;
    scrollbar-width: none; /* Esconde a barra de rolagem */
}

.view-note button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: black; /* Fundo preto para os botões */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    color: white; /* Texto branco */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave */
}

.note-content {
    padding: 20px;
    border-radius: 8px;
    max-width: 100%; /* Ajustar a largura máxima */
    font-size: 18px; /* Tamanho da fonte */
    line-height: 1.6; /* Espaçamento entre linhas */
    color: black; /* Texto preto */
    overflow-wrap: break-word; 
    word-wrap: break-word;
    word-break: break-word;
    margin-bottom: 10px; /* Margem inferior */
}

/* Responsividade */
@media (max-width: 768px) {
    .note-content {
        padding: 15px;
        font-size: 16px; /* Tamanho da fonte reduzido */
    }

    .view-note button {
        padding: 8px 16px; /* Ajuste de padding */
        font-size: 14px; /* Tamanho da fonte reduzido */
    }
}
